body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgb(239, 211, 216), rgb(155, 155, 243));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background: rgb(50, 48, 48);
}

.outputScreen {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 5px;
    padding-right: 10px;
    height: 4rem;
    background: lightblue;
    border: 1px solid grey;
    border-radius: 5px;
}

div {
    display: flex;
}

button {
    width: 4rem;
    height: 3rem;
    background: white;
    border: 1px solid grey;
    margin: 3px 3px 0px 3px;
    border-radius: 5px;
}

button:active {
    box-shadow: 0 1px;
    transform: translate(2px);
}

.equal {
    flex: auto;
    background-color: green;
}

.erase {
    background-color: red;
}